canvas {
    display: inline-block;
    background: #202020;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px blue;
}

#record {
    height: 15vh;
}

#record.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
}

#save,
#save img {
    height: 10vh;
}

#save {
    opacity: 0.25;
}

#save[download] {
    opacity: 1;
}